nav li{
    list-style: none;
    margin-right: 20px;

}
nav li a{
    text-decoration: none;
    color: darkorange;
    font-size: 20px;
}
nav  > ul{
display: flex;
}
nav li:hover{
    background-color: aqua;
}
h1{
    text-align: center;
    color: maroon;
    font-size: 50px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rebeccapurple;
}
.era
{
    display: none;
    position: absolute;
    background-color: blue;
    box-shadow: 10px 10px 15px red ;
    border-radius: 15px;
}
nav >ul >li:hover >ul
{
    display: block;
}