.h{
    background-color: chartreuse;
}
section
{
  
}
.hiv
{   border-radius: 10px;
    width: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}


table{
    border-collapse: collapse;
}
td,th{
    border: 5px solid green;
    padding: 20px;
    background-color: aqua;
}